<app-user-navbar></app-user-navbar>
<div class="lg:grid lg:grid-cols-12 lg:gap-8 bg-gray-100">
  <div class="hidden lg:block lg:col-span-3 xl:col-span-2 bg-gray-800">
    <nav aria-label="Sidebar" class="sticky top-4 divide-y divide-gray-300" style="padding:25px; height: 1000px;">
      <div class="pb-8 space-y-1">
        <!-- Current: "bg-gray-200 style="padding:25px;"text-gray-900", Default: "text-gray-600 hover:bg-gray-50" -->
        <a routerLink="/home"
          class="bg-gray-900 text-gray-100 hover:bg-gray-700 hover:text-gray-200 group flex items-center px-3 py-2 text-sm font-medium rounded-md"
          aria-current="page">
          <!-- Heroicon name: outline/home -->
          <svg class="text-gray-200 flex-shrink-0 -ml-1 mr-3 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
          </svg>
          <span class="truncate">
            <a routerLink="/home" class="hover:text-gray-200">Home</a>
          </span>
        </a>

        <a routerLink="/store"
          class="text-gray-200 hover:bg-gray-700 hover:text-gray-200 group flex items-center px-3 py-2 text-sm font-medium rounded-md">
          <!-- Heroicon name: outline/fire -->
          <svg class="text-gray-200 flex-shrink-0 -ml-1 mr-3 h-6 w-6" fill="none" stroke="currentColor"
            viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z">
            </path>
          </svg>
          <span class="truncate">
            <a routerLink="/store" class="hover:text-gray-200">Tienda</a>
          </span>
        </a>

        <a routerLink="/user/{{ id }}/messages"
          class="text-gray-200 hover:bg-gray-700 hover:text-gray-200 group flex items-center px-3 py-2 text-sm font-medium rounded-md">
          <!-- Heroicon name: outline/user-group -->
          <svg class="text-gray-200 flex-shrink-0 -ml-1 mr-3 h-6 w-6" fill="none" stroke="currentColor"
            viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4">
            </path>
          </svg>
          <span class="truncate">
            <a routerLink="/user/{{ id }}/messages" class="hover:text-gray-200">Mensajería</a>
          </span>
        </a>

        <a routerLink="/user/list"
          class="text-gray-200 hover:bg-gray-700 hover:text-gray-200 group flex items-center px-3 py-2 text-sm font-medium rounded-md">
          <!-- Heroicon name: outline/trending-up -->
          <svg class="text-gray-200 flex-shrink-0 -ml-1 mr-3 h-6 w-6"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
            aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6" />
          </svg>
          <span class="truncate">
            <a routerLink="/user/list" class="hover:text-gray-200">Usuarios</a>
          </span>
        </a>
      </div>
    </nav>
  </div>

<main class="lg:col-span-9 mt-8">
  <div class="lg:col-span-8 pb-6 px-4 sm:px-6 lg:pb-16 lg:px-8">
    <div class="bg-white rounded-lg shadow overflow-hidden">
      <div class="divide-y divide-gray-200 lg:grid lg:grid-cols-12 lg:divide-y-0 lg:divide-x">
        <aside class="py-6 lg:col-span-3">
          <nav>
            <a routerLink="/user/{{ id }}/settings/profile" id="profile"
              class="border-transparent text-gray-900 hover:bg-gray-50 hover:text-gray-900 group border-l-4 px-3 py-2 flex items-center text-sm font-medium"
              aria-current="page">
              <svg class="text-gray-400 group-hover:text-gray-500 flex-shrink-0 -ml-1 mr-3 h-6 w-6"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              <span class="truncate">
                Perfil
              </span>
            </a>

            <a routerLink="/user/{{ id }}/settings/account" id="account"
              class="border-transparent text-gray-900 hover:bg-gray-50 hover:text-gray-900 group mt-1 border-l-4 px-3 py-2 flex items-center text-sm font-medium">
              <svg class="text-gray-400 group-hover:text-gray-500 flex-shrink-0 -ml-1 mr-3 h-6 w-6"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
              </svg>
              <span class="truncate">
                Cuenta
              </span>
            </a>

            <a routerLink="/user/{{ id }}/settings/password" id="password"
              class="bg-teal-50 border-teal-500 text-teal-700 hover:bg-teal-50 hover:text-teal-700 group mt-1 border-l-4 px-3 py-2 flex items-center text-sm font-medium">
              <svg class="text-teal-500 group-hover:text-teal-500 flex-shrink-0 -ml-1 mr-3 h-6 w-6"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15 7a2 2 0 012 2m4 0a6 6 0 01-7.743 5.743L11 17H9v2H7v2H4a1 1 0 01-1-1v-2.586a1 1 0 01.293-.707l5.964-5.964A6 6 0 1121 9z" />
              </svg>
              <span class="truncate">
                Contraseña
              </span>
            </a>
          </nav>
        </aside>

        <form [formGroup]="passwordForm" class="divide-y divide-gray-200 lg:col-span-9" (ngSubmit)="editingAnimation()">
          <div id="alert" class="hidden rounded-md bg-green-50 p-4">
            <div class="flex">
              <div class="flex-shrink-0">
                <!-- Heroicon name: solid/check-circle -->
                <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                </svg>
              </div>
              <div class="ml-3">
                <p class="text-sm font-medium text-green-800">
                  Perfil actualizado correctamente
                </p>
              </div>
              <div class="ml-auto pl-3">
                <div class="-mx-1.5 -my-1.5">
                  <button type="button" class="inline-flex bg-green-50 rounded-md p-1.5 text-green-500 hover:bg-green-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-green-50 focus:ring-green-600">
                    <span class="sr-only">Cerrar</span>
                    <!-- Heroicon name: solid/x -->
                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="py-6 px-4 sm:p-6 lg:pb-8">
            <div>
              <h2 class="text-lg leading-6 font-medium text-gray-900">Modificar mi contraseña</h2>
            </div>

            <div class="mt-6 grid grid-cols-12 gap-6">
              <div class="col-span-12">
                <label for="password" class="block text-sm font-medium text-gray-700">
                  Contraseña
                </label>
                <div class="relative">
                  <input formControlName="password" type="password" id="inputPassword"
                    placeholder="Introduce tu nueva contraseña" class="text-md block px-3 py-2 rounded-lg w-full bg-white border-2 border-gray-300 shadow-md
                  focus:bg-white
                  focus:border-purple-500
                  focus:outline-none">
                  <div class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5"
                    (click)="showOrHidePassword();">
                    <i class="fas fa-eye fa-lg hover:text-gray-400" id="showIcon"></i>
                    <i class="fas fa-eye-slash fa-lg hover:text-gray-400 hidden" id="hideIcon"></i>
                  </div>
                </div>
                <div *ngIf="password.errors && isValidFormSubmitted != null && !isValidFormSubmitted"
                  [ngClass]="'error'">
                  <div *ngIf="password.errors.required"
                    class="font-normal bg-red-100 text-red-900 p-2 rounded-md mt-1 -mb-5 text-sm">
                    <i class="fas fa-times-circle"></i>
                    Se requiere una contraseña.
                  </div>
                </div>
                <div *ngIf="password.errors && password.errors.pattern"
                  class="font-normal bg-red-100 text-red-900 p-2 rounded-md mt-1 -mb-5 text-sm">
                  <i class="fas fa-times-circle"></i>
                  Contraseña no válida.
                  <p class="inline-block ml-2 hover:text-red-500" (mouseenter)="showPasswordHint()" (mouseleave)="showPasswordHint()">Más informacion<i class="fas fa-exclamation-circle ml-1"></i></p>
                  <div *ngIf="showingPasswordHint" id="passwordHint">
                    Requisitos: <br>
                    - Longitud mínima de 8 carácteres. <br>
                    - Longitud máxima de 20 carácteres. <br>
                    - Debe tener 1 número, 1 mayúscula y 1 minúscula.
                  </div>
                </div>
              </div>

              <div class="col-span-12">
                <label for="confirmPassowrd" class="block text-sm font-medium text-gray-700">Confirma tu nueva
                  contraseña:</label>
                <input formControlName="passwordConfirm" type="password" placeholder="Confirma tu contraseña"
                  id="passwordConfirm" class="text-md block px-3 py-2 rounded-lg w-full bg-white border-2 border-gray-300 shadow-md
                  focus:placeholder-gray-600
                  focus:bg-white
                  focus:border-purple-500
                  focus:outline-none">
                <div *ngIf="passwordConfirm.errors && isValidFormSubmitted != null && !isValidFormSubmitted"
                  [ngClass]="'error'">
                  <div *ngIf="passwordConfirm.errors.required"
                    class="font-normal bg-red-100 text-red-900 p-2 rounded-md mt-1 -mb-5 text-sm">
                    <i class="fas fa-times-circle"></i>
                    Se requiere la confirmación.
                  </div>
                </div>
                <div *ngIf="checkMatchPasswords()"
                  class="font-normal bg-red-100 text-red-900 p-2 rounded-md mt-1 -mb-5 text-sm">
                  <i class="fas fa-times-circle"></i>
                  Las contraseñas deben de coincidir.
                </div>
              </div>
            </div>
          </div>

          <div class="pt-6 divide-y divide-gray-200">
            <div class="mt-4 py-4 px-4 flex justify-end sm:px-6">
              <button routerLink="/home"
                class="bg-white border border-gray-300 rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-light-blue-500">
                Volver a la home
              </button>
              <button type="submit"
                class="ml-5 bg-blue-500 border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-light-blue-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-light-blue-500">
                Guardar los cambios
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
</div>
<app-footer></app-footer>
