<app-user-navbar></app-user-navbar>
<p>comment works!</p>
<div class="container mt-5 mb-5">
  <div class="d-flex justify-content-center row">
    <div class="d-flex flex-column col-md-8">
      <div class="coment-bottom bg-white p-2 px-4">
        <h1 class="mb-2"> Lista de comentarios </h1>
        <img class="rounded-circle mr-2" src="http://localhost:81/assets/img/{{ imgAvatar }}" width="50">
        <form [formGroup]="commentForm" (ngSubmit)="postComment();">
          <textarea formControlName="bodyComment" class="mr-3 border border-black rounded-md mt-3"
            placeholder=" Añade tu comentario..." cols="150" rows="3"></textarea>
          <button class="btn btn-primary mt-2 mb-2" style="right: 0;" type="submit">Comentar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="d-flex justify-content-center row" style="margin-bottom: 20%;">
    <div class="col-md-8">
      <div class="d-flex flex-column comment-section" id="myGroup">
        <div *ngFor="let comment of comments; index as i;">
          <div class="bg-white p-2">
            <div class="d-flex flex-row user-info">
              <img class="rounded-circle" src="http://localhost:81/assets/img/{{ comment.user.imgAvatar }}" width="50">
              <div class="d-flex flex-column justify-content-start ml-2">
                <span class="d-block font-weight-bold name">{{ comment.user.username }}</span>
                <span class="date text-black-50">{{ comment.comment_date }}</span>
              </div>
            </div>
            <div class="mt-2">
              <p class="comment-text">{{ comment.bodyComment }}</p>
            </div>
          </div>
          <div class="bg-white p-2">
            <div class="d-flex flex-row fs-12">
              <div class="p-2 cursor" (click)="toggleResponseForm(i)">
                <i class="fas fa-comment-dots"></i>
                <span class="ml-1">Comentar</span>
              </div>
              <div class="p-2 cursor" (click)="toggleSubcomments(i)">
                <i class="fas fa-comments"></i>
                <span class="ml-1">Ver respuestas</span>
              </div>
            </div>
          </div>

          <div id="{{i + 'formResponseContainer'}}" *ngIf="responseFormIndexAux===i" class="bg-light p-2">
            <form [formGroup]="commentFormResponse" (ngSubmit)="postResponse(i, null, 0);">
              <div class="d-flex flex-row align-items-start">
                <img class="rounded-circle" src="http://localhost:81/assets/img/{{ imgAvatar }}" width="50">
                <textarea formControlName="bodyComment" class="form-control ml-1 shadow-none textarea"></textarea>
              </div>
              <div class="mt-2 text-right">
                <button class="btn btn-outline-primary btn-sm ml-1 shadow-none mr-1" type="button"
                  (click)="toggleResponseForm(i)">Cancelar</button>
                <button class="btn btn-primary btn-sm shadow-none" type="submit">Publicar respuesta</button>
              </div>
            </form>
          </div>

          <div id="{{i + 'subcommentContainer'}}" *ngIf="subcommentIndexAux===i" class="p-2 w-10/12 ml-16">
            <div *ngIf="subcomments == null">Este comentario actualmente no tiene respuestas.</div>
            <div *ngIf="subcomments != null">
              <div *ngFor="let subcomment of subcomments; index as ind;">
                <div class="d-flex flex-row user-info">
                  <img class="rounded-circle" src="http://localhost:81/assets/img/{{ subcomment.user.imgAvatar }}"
                    width="50">
                  <div class="d-flex flex-column justify-content-start ml-2">
                    <span class="d-block font-weight-bold name">{{ subcomment.user.username }}</span>
                    <span class="date text-black-50">{{ subcomment.comment_date }}</span>
                  </div>
                </div>
                <div class="mt-2">

                  <p class="comment-text">
                    <a routerLink="/user/{{ subcomment.user_reference.id }}/profile" class="text-blue-500">
                      @{{ subcomment.user_reference.username }}
                    </a>{{ subcomment.bodyComment }}
                  </p>
                </div>
                <div class="bg-white p-2">
                <div class="d-flex flex-row fs-12">
                  <div class="p-2 cursor -ml-1" (click)="toggleSubcommentResponseForm(ind, i);">
                    <i class="fas fa-comment-dots"></i>
                    <span class="ml-1">Responder</span>
                  </div>
                </div>
              </div>
              <div class="bg-white p-2 rounded-md">
                <div id="{{ind +'formSubcommentResponseForm'}}" *ngIf="subCommentFormAuxIndex===ind" class="bg-light p-2 mt-1">
                  <form [formGroup]="commentFormResponse" (ngSubmit)="postResponse(i, ind, 1);">
                    <div class="d-flex flex-row align-items-start">
                      <img class="rounded-circle" src="http://localhost:81/assets/img/{{ imgAvatar }}" width="50">
                      <textarea formControlName="bodyComment" class="form-control ml-1 shadow-none textarea"></textarea>
                    </div>
                    <div class="mt-2 text-right">
                      <button class="btn btn-outline-primary btn-sm ml-1 shadow-none mr-1"
                        (click)="toggleSubcommentResponseForm(ind, i);" type="button">Cancelar</button>
                      <button class="btn btn-primary btn-sm shadow-none" type="submit">Publicar respuesta</button>
                    </div>
                  </form>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
