<h3 class="font-bold text-3xl mt-8 mb-8">Política de privacidad</h3>
<p class="block">Última actualización: 04 de mayo de 2021</p>

<p>Esta Política de Privacidad describe nuestras políticas y procedimientos sobre la recopilación, uso y divulgación de su información cuando utiliza el Servicio y le informa sobre sus derechos de privacidad y cómo la ley lo protege.</p>

<p>Utilizamos sus datos personales para proporcionar y mejorar el Servicio. Al utilizar el Servicio, Usted acepta la recopilación y el uso de información de acuerdo con esta Política de Privacidad. Esta Política de Privacidad ha sido creada con la ayuda del Generador de Políticas de Privacidad.</p>
<h2 class="font-bold text-2xl"></h2>
<app-footer></app-footer>