<div>
  <nav class="p-6 bg-gray-200 h-14 flex justify-between">
    <ul class="flex items-center">
        <li>
            <a routerLink="" class="p-3"><img src="assets/img/logo.png" alt="logo" class="h-8"></a>
        </li>
    </ul>

    <ul class="flex items-center">
        <li>
            <a routerLink="/login" class="p-3 hover:text-purple-600">Iniciar sesión</a>
        </li>
        <li>
            <a routerLink="/register" class="p-3 hover:text-purple-600">Registrarse</a>
        </li>
    </ul>
  </nav>
</div>

<router-outlet></router-outlet>
