<ngx-spinner bdColor="rgb(255, 255, 255)" size="medium" template="<img src='assets/img/loadingSpinner.gif'/>">
  <p style="font-size: 20px;">Cargando...</p>
</ngx-spinner>
<app-user-navbar *ngIf="loaded"></app-user-navbar>

<div class="flex bg-white" *ngIf="loaded">
  <div class="hidden bg-gray-800 lg:block lg:w-72" style="padding-left: 0;">
    <nav aria-label="Sidebar" class="sticky top-4 divide-y divide-gray-300" style="padding:25px;">
      <div class="pb-8 space-y-1">
        <a routerLink="/home"
          class="text-gray-100 hover:bg-gray-700 hover:text-gray-200 group flex items-center px-3 py-2 text-sm font-medium rounded-md"
          aria-current="page">
          <svg class="text-gray-200 flex-shrink-0 -ml-1 mr-3 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
          </svg>
          <span class="truncate">
            <a routerLink="/home" class="hover:text-gray-200">Home</a>
          </span>
        </a>

        <a routerLink="/store"
          class="text-gray-100 hover:bg-gray-700 hover:text-gray-200 group flex items-center px-3 py-2 text-sm font-medium rounded-md">
          <svg class="text-gray-200 flex-shrink-0 -ml-1 mr-3 h-6 w-6" fill="none" stroke="currentColor"
            viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z">
            </path>
          </svg>
          <span class="truncate">
            <a routerLink="/store" class="hover:text-gray-200">Tienda</a>
          </span>
        </a>

        <a routerLink="/messages"
          class="text-gray-100 hover:bg-gray-700 hover:text-gray-200 group flex items-center px-3 py-2 text-sm font-medium rounded-md">
          <svg class="text-gray-200 flex-shrink-0 -ml-1 mr-3 h-6 w-6" fill="none" stroke="currentColor"
            viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4">
            </path>
          </svg>
          <span class="truncate">
            <a routerLink="/messages" class="hover:text-gray-200">Mensajería</a>
          </span>
        </a>

        <a routerLink="/user/list"
          class="text-gray-100 hover:bg-gray-700 hover:text-gray-200 group flex items-center px-3 py-2 text-sm font-medium rounded-md">
          <svg class="text-gray-200 group-hover:text-gray-200 flex-shrink-0 -ml-1 mr-3 h-6 w-6"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6" />
          </svg>
          <span class="truncate">
            <a routerLink="/user/list" class="hover:text-gray-200">Usuarios</a>
          </span>
        </a>
      </div>
    </nav>
  </div>
  <div class="flex flex-col min-w-0 flex-1 overflow-hidden">
    <div class="flex-1 relative z-0 flex overflow-hidden">
      <main class="flex-1 relative z-0 focus:outline-none xl:order-last" tabindex="0">
        <article>
          <div>
            <div>
              <img class="h-32 w-full object-cover lg:h-48"
                src="https://images.unsplash.com/photo-1444628838545-ac4016a5418a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1950&amp;q=80"
                alt="">
            </div>
            <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
              <div class="-mt-12 sm:-mt-16 sm:flex sm:items-end sm:space-x-5">
                <div class="flex">
                  <img class="h-24 w-24 rounded-full ring-4 ring-white sm:h-32 sm:w-32" src="http://localhost:81/assets/img/{{ imgAvatar }}" alt="">
                </div>
                <div class="mt-6 sm:flex-1 sm:min-w-0 sm:flex sm:items-center sm:justify-end sm:space-x-6 sm:pb-1">
                  <div class="sm:hidden 2xl:block mt-6 min-w-0 flex-1">
                    <h1 class="text-2xl font-bold text-gray-900 truncate">
                      {{ username }}
                      <a class="ml-5">
                        <button type="button" id="followedContainer" *ngIf="!isMyProfile && status_follow == 1"
                          (click)="requestOrFollowUser();"
                          class="inline-flex justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
                          <span class="-ml-1 mr-2 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <i class="fas fa-user-plus"></i>
                          </span>
                          <span>Seguir</span>
                        </button>

                        <button type="button" id="pendingContainer" *ngIf="!isMyProfile && status_follow == 2"
                          (click)="updateFollowRequest();"
                          class="inline-flex justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
                          <span class="-ml-1 mr-2 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <i class="fas fa-exclamation-circle fa-lg"></i>
                          </span>
                          <span>Pendiente de aceptación</span>
                        </button>

                        <button type="button" id="unfollowedContainer" *ngIf="!isMyProfile && status_follow == 3"
                          (click)="updateFollowRequest();"
                          class="inline-flex justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
                          <span class="-ml-1 mr-2 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <i class="fas fa-user-minus"></i>
                          </span>
                          <span>Dejar de seguir</span>
                        </button>
                      </a>
                      <!--  TODO hacer que te lleve a un apartado de message/{username} y poner routerLink -->
                      <a class="ml-2 mt-8">
                        <button type="button" *ngIf="!isMyProfile"
                          class="inline-flex justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
                          <span class="-ml-1 mr-2 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <i class="fas fa-envelope fa-lg"></i>
                          </span>
                          <span>Enviar mensaje</span>
                        </button>
                      </a>
                    </h1>
                  </div>
                  <div class="mt-6 flex flex-col justify-stretch space-y-3 sm:flex-row sm:space-y-0 sm:space-x-4">
                    <div id="n_Followers"
                      class="inline-flex justify-center px-4 py-2 text-sm font-medium rounded-md text-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
                      <a routerLink="/user/{{ id }}/followers"><span
                          class="p-3 hover:text-purple-600 no-underline">Seguidores: {{ n_followers }}</span></a>
                      <a routerLink="/user/{{ id }}/followed"><span
                          class="p-3 hover:text-purple-600 no-underline">Seguidos: {{ n_followed }}</span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="hidden sm:block 2xl:hidden mt-6 min-w-0 flex-1">
                <h1 class="text-2xl font-bold text-gray-900 truncate">
                  {{ username }}
                  <a class="ml-5">
                    <button type="button" id="followedContainer" *ngIf="!isMyProfile && status_follow == 1"
                      (click)="requestOrFollowUser();"
                      class="inline-flex justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
                      <span class="-ml-1 mr-2 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <i class="fas fa-user-plus"></i>
                      </span>
                      <span>Seguir</span>
                    </button>

                    <button type="button" id="pendingContainer" *ngIf="!isMyProfile && status_follow == 2"
                      (click)="updateFollowRequest();"
                      class="inline-flex justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
                      <span class="-ml-1 mr-2 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <i class="fas fa-exclamation-circle fa-lg"></i>
                      </span>
                      <span>Pendiente de aceptación</span>
                    </button>

                    <button type="button" id="unfollowedContainer" *ngIf="!isMyProfile && status_follow == 3"
                      (click)="updateFollowRequest();"
                      class="inline-flex justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
                      <span class="-ml-1 mr-2 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <i class="fas fa-user-minus"></i>
                      </span>
                      <span>Dejar de seguir</span>
                    </button>
                  </a>
                  <a class="ml-2 mt-8">
                    <!-- hacer que te lleve a un apartado de message/{username} y poner routerLink -->
                    <button type="button" *ngIf="!isMyProfile"
                      class="inline-flex justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
                      <span class="-ml-1 mr-2 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <i class="fas fa-envelope fa-lg"></i>
                      </span>
                      <span>Enviar mensaje</span>
                    </button>
                  </a>
                </h1>
              </div>
            </div>
          </div>

          <!-- Tabs -->
          <div class="mt-6 sm:mt-2 2xl:mt-5">
            <div class="border-b border-gray-200">
              <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
                <nav class="-mb-px flex space-x-8" aria-label="Tabs">

                  <!-- Current: "border-pink-500 text-indigo-600", Default: "border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300" -->
                  <div class="border-pink-500 text-gray-900 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm"
                    aria-current="page">
                    Mis publicaciones
                  </div>
                </nav>
              </div>
            </div>
          </div>
          <!--  TODO: Añadir estilos -->
          <div *ngIf="publications == null">
            Todavía no ha realizado ninguna publicación
          </div>

          <div *ngIf="publications != null">
            <div *ngFor="let publication of publications; index as i;">
              <mat-card style="max-width: 700px; margin-left: auto; margin-right: auto; margin-top: 20px">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-subtitle>{{ publication.upload_date }}</mat-card-subtitle>
                </mat-card-header>
                <div *ngFor="let img of publication.imgsPublication; index as i;">
                  <div *ngIf="publication.imgsPublication != null">
                    <!--   TODO: permitir inline-block, limitar los border de las publicaciones -->
                  <img src="http://localhost:81/assets/img/{{ img.imgPublication }}" style="float: left;
                  width:  200px;
                  height: 200px;
                  object-fit: cover;">
                  </div>
                </div>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" style="margin-left:0px">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <div class="mt-6 flex justify-start space-x-8">
                  <span class="inline-flex items-center text-sm">
                    <!--TODO: Button de like del perfil propio, para ver los que le han dado like, falta implementarlo-->
                    <div *ngIf="isMyProfile">
                      <button mat-icon-button  id="{{i + 'likeIcon'}}"
                        class="inline-block text-gray-400 hover:text-gray-500 outline-none focus:outline-none">
                        <mat-icon class="text-gray-400 hover:text-gray-500">favorite</mat-icon>
                      </button>
                      <span class="font-medium text-gray-900 ml-2">{{ publication.n_likes }}</span>
                      <span class="sr-only">likes</span>
                    </div>

                    <div *ngIf="!isMyProfile">
                      <button mat-icon-button (click)="updateLikeStatus(i)" id="{{i + 'likeIcon'}}"
                        class="text-gray-400 hover:text-gray-500 outline-none focus:outline-none">
                        <mat-icon>favorite</mat-icon>
                      </button>
                      <span class="font-medium text-gray-900 ml-2">{{ publication.n_likes }}</span>
                      <span class="sr-only">likes</span>
                    </div>
                  </span>
                  <span class="inline-flex items-center text-sm">
                    <button class="inline-flex space-x-2 text-gray-400 hover:text-gray-500 focus:outline-none">

                      <svg class="h-7 w-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                        fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd"
                          d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z"
                          clip-rule="evenodd" />
                      </svg>
                    </button>
                    <span class="font-medium text-gray-900 ml-2">{{ publication.n_comments }}</span>
                    <span class="sr-only">replies</span>
                  </span>
                  </div>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
          <div *ngIf="publications != null">
            <div class="lg:col-span-8 lg:pt-8 lg:pb-10 xl:col-span-7" style="margin-top:-31px;">
              <ul class="space-y-4" *ngFor="let publication of publications; index as i;">
                <li class="bg-white px-4 py-6 shadow sm:p-6 sm:rounded-lg">
                  <article class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8">
                    <div>
                      <div class="flex space-x-3">
                        <div class="min-w-0 flex-1 mb-3">
                          <p class="text-sm text-gray-500 mt-4 inline-block">
                            <span *ngIf="publication.isEdited == 0" class="hover:underline">{{ publication.upload_date }}</span>
                            <span *ngIf="publication.isEdited == 1" class="hover:underline">{{ publication.upload_date }} (editada)</span>
                          </p>
                          <div class="inline-block float-right mt-3" *ngIf="isMyProfile">
                            <button class="inline-block py-1 px-3 border border-gray-300 rounded-md shadow-sm justify-center text-sm font-medium text-gray-700
                          hover:bg-gray-50 hover:text-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-light-blue-500
                            mr-2" routerLink="/user/{{ id }}/publication/{{ publication.id }}">
                              <i class="fas fa-edit fa-lg text-blue-500 hover:text-blue-600"></i> Editar
                            </button>
                            <button
                              class="inline-block py-1 px-3 border border-gray-300 rounded-md shadow-sm justify-center text-sm font-medium text-gray-700
                          hover:bg-gray-50 focus:outline-none hover:text-red-500 focus:ring-2 focus:ring-offset-2 focus:ring-light-blue-500"
                              *ngIf="isMyProfile" (click)="deletingAnimation(i);">
                              <i class="fas fa-trash-alt fa-lg text-red-700 hover:text-red-500 mr-1"></i> Eliminar
                            </button>
                          </div>
                        </div>
                      </div>

                      <div class="mt-2 text-sm text-gray-700 space-y-4">
                        <p>{{ publication.bodyPublication }}</p>
                      </div>
                      <div class="mt-6 flex justify-between space-x-8">
                        <div class="flex space-x-6">
                          <div *ngFor="let img of publication.imgsPublication; index as i;">
                            <div *ngIf="publication.imgsPublication != null">
                              <!--   TODO: permitir inline-block, limitar los border de las publicaciones -->
                            <img src="http://localhost:81/assets/img/{{ img.imgPublication }}" style="float: left;
                            width:  500px;
                            height: 500px;
                            object-fit: contain;">
                            </div>
                          </div>
                          <span class="inline-flex items-center text-sm">
                            <!--TODO: Button de like del perfil propio, para ver los que le han dado like, falta implementarlo-->
                            <div *ngIf="isMyProfile">
                              <button mat-icon-button  id="{{i + 'likeIcon'}}"
                                class="inline-block text-gray-400 hover:text-gray-500 outline-none focus:outline-none">
                                <mat-icon class="text-gray-400 hover:text-gray-500">favorite</mat-icon>
                              </button>
                              <span class="font-medium text-gray-900 ml-2">{{ publication.n_likes }}</span>
                              <span class="sr-only">likes</span>
                            </div>

                            <div *ngIf="!isMyProfile">
                              <button mat-icon-button (click)="updateLikeStatus(i)" id="{{i + 'likeIcon'}}"
                                class="text-gray-400 hover:text-gray-500 outline-none focus:outline-none">
                                <mat-icon>favorite</mat-icon>
                              </button>
                              <span class="font-medium text-gray-900 ml-2">{{ publication.n_likes }}</span>
                              <span class="sr-only">likes</span>
                            </div>
                          </span>
                          <span class="inline-flex items-center text-sm">
                            <button routerLink="/user/{{ publication.user.id }}/publication/{{ publication.id }}/comments"
                            class="inline-flex space-x-2 text-gray-400 hover:text-gray-500 focus:outline-none">
                              <svg class="h-7 w-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                  d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z"
                                  clip-rule="evenodd" />
                              </svg>
                            </button>
                            <span class="font-medium text-gray-900 ml-2">{{ publication.n_comments }}</span>
                            <span class="sr-only">replies</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </article>
                </li>
              </ul>
            </div>
          </div>
        </article>
      </main>
    </div>
  </div>
</div>
