<app-user-navbar></app-user-navbar>
<p>provisional-add-user works!</p>

<div *ngIf="userList == null"> No hay usuarios registrados </div>
<div *ngIf="userList != null">
  <section *ngFor="let user of userList; index as i;">
    <table routerLink="/user/{{ user.id }}/profile">
      <tr>
        <td>
          {{ user.username }}
        </td>
      </tr>
    </table>
  </section>
</div>

<div *ngIf="userList == null"> No hay usuarios registrados </div>
<div *ngIf="userList != null">
  <section *ngFor="let user of userList; index as i;">
    <table routerLink="/user/{{ user.id }}/profile">
      <tr>
        <td>
          {{ user.username }}
        </td>
      </tr>
    </table>
  </section>
</div>

<mat-form-field>
  <mat-label>Filtro</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Busqueda por nombre" #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> Nombre de usuario </th>
    <td mat-cell *matCellDef="let userlist"> {{user.username}} hola</td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>
