<header class="bg-white  shadow-sm lg:static lg:overflow-y-visible">
  <div class="max-w-full mx-auto px-4 sm:px-6 lg:px-8">
    <div class="relative flex justify-between xl:grid xl:grid-cols-12 lg:gap-8">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button type="button" (click)="toggleMobileMenu();"
          class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white">
          <span class="sr-only">Open main menu</span>
          <svg id="buttonMenu" class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <span class="sr-only">Open main menu</span>
          <svg id="cross" class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex md:absolute md:left-0 md:inset-y-0 lg:static xl:col-span-2">
        <div class="flex-shrink-0 flex items-center">
          <a routerLink="/home">
            <img class="hidden md:block h-6 md:h-8 w-auto md:ml-4" src="assets/img/logo.png" alt="logo">
          </a>
        </div>
      </div>
      <div class="min-w-0 flex-1 md:px-8 lg:px-0 xl:col-span-7">
        <div class="flex items-center px-6 py-4 md:max-w-lg md:ml-28 lg:max-w-none lg:mx-0 xl:px-0">
          <div class="w-full">
            <label for="search" class="sr-only">Search</label>
            <div class="relative">
              <div class="pointer-events-none absolute inset-y-0 left-0 pl-3 flex items-center">
                <!-- Heroicon name: solid/search -->
                <svg class="hidden md:block h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd"
                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                    clip-rule="evenodd" />
                </svg>
              </div>
              <input type="search" autocomplete="off" (keyup)="searchUser($event)" id="search" name="search" class="hidden md:block w-full bg-white border border-gray-300 rounded-md py-2 pl-10 pr-3 text-sm
              placeholder-gray-500 focus:outline-none focus:text-gray-900 focus:placeholder-gray-400 focus:ring-1
              focus:ring-rose-500 focus:border-rose-500 sm:text-sm" placeholder="Buscar usuarios">

            </div>
            <!-- search box -->
            <div *ngIf="searching" style="width: 65.5%" class="absolute z-40">
              <div *ngIf="usersReceived != null">
                <div *ngFor="let user of usersReceived; index as i;">
                  <!-- TODO: add hover and improve display of divs beyond the navbar-->
                    <div class="hidden md:block bg-white border hover:text-purple-700 border-gray-300 rounded-md py-2 pl-10 pr-2 text-sm
                    focus:outline-none focus:text-gray-900 focus:ring-1 relative
                    focus:ring-rose-500 focus:border-rose-500 sm:text-sm" (click)="searched()" routerLink="/user/{{ user.id }}/profile">
                      <img class="object-cover rounded-full inline-block"
                        src="http://localhost:81/assets/img/{{ user.imgAvatar }}" alt="imgAvatar"
                        style="width: 37px; height: 37px; margin-right: 10px; margin-top:5px;">
                      <p class="inline-block cursor-pointer">{{ user.username }}</p>
                    </div>
                  </div>
              </div>

              <div *ngIf="usersReceived == null && researchEnded">
                <div class="hidden md:block bg-white border rounded-md py-3 pl-10 pr-3 text-sm
                  focus:outline-none focus:text-gray-900 focus:placeholder-gray-400 focus:ring-1
                  focus:ring-rose-500 focus:border-rose-500 sm:text-sm relative">
                  <p class="inline-block">No se ha encontrado ningún usuario con nombre '{{ searchedPattern }}'</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="flex items-center justify-end xl:col-span-3">
        <div (click)="toggleNotifications();" class="focus:outline-none">
          <button mat-icon-button class="bg-white p-1 text-gray-500 hover:text-gray-700 focus:outline-none">
            <span class="sr-only">Ver notificaciones</span>
            <p class="mt-1 ">
              <mat-icon *ngIf="notifications == null || notifications.length == 0">notifications</mat-icon>
              <mat-icon *ngIf="notifications != null && notifications.length > 0" matBadge="{{ notifications.length }}">
                notifications</mat-icon>
            </p>
          </button>
          <div id="menu-notifications"
            class="w-10/12 lg:w-3/12 absolute right-0 top-12 mt-2 bg-white rounded-md shadow-lg overflow-hidden z-20 hidden">
            <div *ngFor="let notification of notifications; index as i;">
              <div class="flex items-center px-4 py-3 border-b hover:bg-gray-100 -mx-2">
                <img routerLink="/user/{{ notification.user_responsible.id }}/profile"
                  class="hidden md:block h-8 w-8 rounded-full object-cover mx-1"
                  src="http://localhost:81/assets/img/{{ notification.user_responsible.imgAvatar }}" alt="avatar">
                <p (click)="notificationRead(notification.id, i)"
                  class="text-gray-600 text-sm mx-2">
                  <a routerLink="/user/{{ notification.user_responsible.id }}/profile" class="font-bold">
                  {{ notification.user_responsible.username }} </a>
                  {{ notification.bodyNotification }}
                  <span class="font-bold"></span> . {{ notification.notification_date }}
                </p>
                <button *ngIf="notification.typeNotification == 2" class="focus:outline-none mr-3"
                  (click)="acceptOrDeclineRequest(notification.id, notification.user_responsible.id, i, 3)">
                  <i class="fas fa-check-circle mr-1 text-green-600 hover:text-green-400"></i>Aceptar</button>
                <button *ngIf="notification.typeNotification == 2" class="focus:outline-none"
                  (click)="acceptOrDeclineRequest(notification.id, notification.user_responsible.id, i, 1)">
                  <i class="fas fa-times-circle text-red-700 ml-1 hover:text-red-500"></i>Rechazar</button>
                <button *ngIf="notification.typeNotification != 2" class="focus:outline-none mr-3"
                (click)="notificationRead(notification.id, i)">
                  <i class="fas fa-check-double mr-1 hover:text-gray-500"></i>Leído</button>
                <button *ngIf="notification.typeNotification != 2" class="focus:outline-none"
                  (click)="removeNotification(notification.id, i)">
                  <i class="fas fa-trash-alt text-red-700 ml-1 hover:text-red-500"></i>Borrar</button>
              </div>
            </div>

            <a routerLink="/user/{{ id }}/notifications" id="subMenu"
              class="block bg-gray-800 text-white text-center font-bold py-2">Ver todas mis notificaciones</a>
          </div>
        </div>
        <ul class="flex items-center " style="height: 86px;" (click)="toggleMenuProfile()">
          <div class="hidden md:block ml-4 text-black">
            {{ user.name }} {{ user.surname1 }}
          </div>
          <div class="ml-3 relative">
            <div>
              <button mat-icon-button class="bg-gray-800 flex text-sm rounded-full focus:outline-none" id="user-menu"
                aria-haspopup="true">
                <span class="sr-only">Open user menu</span>
                <img class="rounded-full" src="http://localhost:81/assets/img/{{ user.imgAvatar }}" alt="imgAvatar"
                  style="width: 37px; height: 37px; margin-top:5px;">
              </button>
            </div>
            <div class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1
            bg-white ring-1 ring-black ring-opacity-5 hidden z-40" id="menu-toggle" role="menu"
              aria-orientation="vertical" aria-labelledby="user-menu">
              <a routerLink="/user/{{ id }}/profile" (click)="toggleMenuProfile()" class="px-4 py-2 text-sm relative flex flex-row items-center h-11 focus:outline-none
              border-l-4 border-transparent hover:border-blue-500 pr-6 text-gray-700 hover:bg-gray-100"
                role="menuitem"><i class="fas fa-user mr-3"></i>Mi perfil</a>
              <a routerLink="/user/{{ id }}/settings/profile" (click)="toggleMenuProfile()" class="px-4 py-2 text-sm relative flex flex-row items-center h-11 focus:outline-none border-l-4 border-transparent
              hover:border-blue-500 text-gray-700 hover:bg-gray-100" role="menuitem"><i
                  class="fas fa-cog mr-3"></i>Configuración</a>
              <a class="cursor-pointer px-4 py-2 text-sm relative flex flex-row items-center h-11 focus:outline-none border-l-4 border-transparent
               hover:border-red-500 pr-6 text-gray-700 hover:bg-gray-100" role="menuitem" (click)="logoutAlert()">
                <i class="fas fa-sign-out-alt mr-3 text-red-500"></i>Cerrar sesión</a>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="hidden" id="mobile-menu2">
    <div class="px-2 pt-2 pb-3 space-y-1">
      <div class="min-w-0 flex-1 md:px-8 lg:px-0 xl:col-span-7">
        <div class="flex items-center px-2 pb-2 md:py-4 md:max-w-lg md:ml-28 lg:max-w-none lg:mx-0 xl:px-0">
          <div class="w-full">
            <label for="search" class="sr-only">Search</label>
            <div class="relative">
              <div class="pointer-events-none absolute inset-y-0 left-0 pl-3 flex items-center">
                <!-- Heroicon name: solid/search -->
                <svg class="block h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                  fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd"
                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                    clip-rule="evenodd" />
                </svg>
              </div>
              <input autocomplete="off" (keyup)="searchUser($event)" id="search" name="search" class="block w-full bg-white border border-gray-300 rounded-md py-2 pl-10 pr-3 text-sm
              placeholder-gray-500 focus:outline-none focus:text-gray-900 focus:placeholder-gray-400 focus:ring-1
              focus:ring-rose-500 focus:border-rose-500 sm:text-sm" placeholder="Buscar usuarios" type="search">

            </div>
            <!-- search box -->
            <div *ngIf="searching">
              <div *ngIf="usersReceived != null">
                <div *ngFor="let user of usersReceived; index as i;">
                  <div style="position:absolute; width: 91%; z-index: 40;" class="bg-white border border-gray-300 rounded-md py-2 pl-10 pr-2 text-sm
                  placeholder-gray-500 focus:outline-none focus:text-gray-900 focus:placeholder-gray-400 focus:ring-1
                  focus:ring-rose-500 focus:border-rose-500 sm:text-sm" routerLink="/user/{{ user.id }}/profile">
                    <img class="object-cover rounded-full inline-block"
                      src="http://localhost:81/assets/img/{{ user.imgAvatar }}" alt="imgAvatar"
                      style="width: 37px; height: 37px; margin-right: 10px; margin-top:5px;">
                    <p class="inline-block cursor-pointer hover:text-purple-700">{{ user.username }}</p>
                  </div>
                </div>

              </div>

              <div *ngIf="usersReceived == null && researchEnded">
                <div style="position: absolute; width: 57%; z-index: 40;" class="bg-white border rounded-md py-3 pl-10 pr-3 text-sm
                  placeholder-gray-500 focus:outline-none focus:text-gray-900 focus:placeholder-gray-400 focus:ring-1
                  focus:ring-rose-500 focus:border-rose-500 sm:text-sm relative">
                  <p class="inline-block">No se ha encontrado ningún usuario con nombre '{{ searchedPattern }}'</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <a routerLink="/home"
        class="text-gray-800 hover:bg-indigo-600 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Home</a>

      <a routerLink="/store"
        class="text-gray-800 hover:bg-indigo-600 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Tienda</a>

      <a routerLink="/message"
        class="text-gray-800 hover:bg-indigo-600 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Mensajería</a>

    </div>
  </div>
</header>
