<app-user-navbar></app-user-navbar>
<p>edit-user works!</p><div class="h-screen flex overflow-hidden bg-white">
  <!-- Static sidebar for desktop -->
  <div class="flex flex-col min-w-0 flex-1 overflow-hidden">
    <div class="flex-1 relative z-0 flex overflow-hidden">
      <main class="flex-1 relative z-0 overflow-y-auto focus:outline-none xl:order-last" tabindex="0">
        <article>
          <!-- Profile header -->
          <div>
            <div>
              <img class="h-32 w-full object-cover lg:h-48" src="https://images.unsplash.com/photo-1444628838545-ac4016a5418a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1950&amp;q=80" alt="">
            </div>
            <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
              <div class="-mt-12 sm:-mt-16 sm:flex sm:items-end sm:space-x-5">
                <div class="flex">
                  <img class="h-24 w-24 rounded-full ring-4 ring-white sm:h-32 sm:w-32" src="{{ img }}" alt="">
                </div>
                <div class="mt-6 sm:flex-1 sm:min-w-0 sm:flex sm:items-center sm:justify-end sm:space-x-6 sm:pb-1">
                  <div class="sm:hidden 2xl:block mt-6 min-w-0 flex-1">
                    <h1 class="text-2xl font-bold text-gray-900 truncate">
                      {{ username }}
                    </h1>
                  </div>
                </div>
              </div>
              <div class="hidden sm:block 2xl:hidden mt-6 min-w-0 flex-1">
                <h1 class="text-2xl font-bold text-gray-900 truncate">
                  {{ name }} {{ surname1 }}
                </h1>
              </div>
            </div>
          </div>

          <!-- TODO: poder cambiar la contraseña, username y la fotografia/ añadir algun campo más-->
          <!-- Tabs -->
          <div class="mt-6 sm:mt-2 2xl:mt-5">
            <div class="border-b border-gray-200">
              <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
                <nav class="-mb-px flex space-x-8" aria-label="Tabs">
                  <div href="#" class="border-pink-500 text-gray-900 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm" aria-current="page">
                    Editar perfil
                  </div>
                </nav>
              </div>
            </div>
          </div>

          <!-- Description list -->
          <div class="mt-6 max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
            <form #formEdit="ngForm" method="POST" (ngSubmit)="editUser(); formEdit.reset()">
            <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  Nombre:
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                <input #inputName="ngModel" [(ngModel)]="name" type="text" id="name" name="name" value="{{ name }}">
                <i class="fas fa-pen ml-5"></i>
                </dd>
              </div>

              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  Email:
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  <input #inputEmail="ngModel" [(ngModel)]="email" type="text" id="email" name="email" value="{{ email }}">
                  <i class="fas fa-pen ml-5"></i>
                </dd>
              </div>

              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  1r Apellido:
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  <input #inputSurname1="ngModel" [(ngModel)]="surname1" type="text" id="surname1" name="surname1" value="{{ surname1 }}">
                  <i class="fas fa-pen ml-5"></i>
                </dd>
              </div>

 <!--              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  Team
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  <input type="text" id="nombre" value="{{ email }}">
                  <i class="fas fa-pen ml-5"></i>Product Development
                </dd>
              </div> -->

              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  2º Apellido:
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  <input #inputSurname2="ngModel" [(ngModel)]="surname2" type="text" id="surname2" name="surname2" value="{{ surname2 }}">
                  <i class="fas fa-pen ml-5"></i>
                </dd>
              </div>

        <!--       <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  Sits
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  <input type="text" id="nombre" value="{{ email }}">
                  <i class="fas fa-pen ml-5"></i>Oasis, 4th floor
                </dd>
              </div>

              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  Salary
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  $145,000
                </dd>
              </div>

              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  Birthday
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  June 8, 1990
                </dd>
              </div> -->

              <div class="sm:col-span-2">
                <dt class="text-sm font-medium text-gray-500">
                  About me <i class="fas fa-pen ml-5 text-gray-900"></i>
                </dt>
                <dd class="mt-1 max-w-prose text-sm text-gray-900">
                  <!-- TODO probar que vaya con textarea -->
                  <textarea type="text" id="aboutMeForm" name="aboutMeForm"  cols="110" rows="7">Tincidunt quam neque in cursus viverra orci, dapibus nec tristique. Nullam ut sit dolor consectetur urna, dui cras nec sed. Cursus risus congue arcu aenean posuere aliquam.

Et vivamus lorem pulvinar nascetur non. Pulvinar a sed platea rhoncus ac mauris amet. Urna, sem pretium sit pretium urna, senectus vitae. Scelerisque fermentum, cursus felis dui suspendisse velit pharetra. Augue et duis cursus maecenas eget quam lectus. Accumsan vitae nascetur pharetra rhoncus praesent dictum risus suspendisse.
                  </textarea>
                </dd>
              </div>
            </dl>
            <div class="mt-5">
              <a routerLink="/profile" >
                <button type="button" id="backToProfile" routerLink="profile" class="mr-20 inline-flex justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
                  <span>Volver</span>
                </button>
              </a>
              <input type="button" class="ml-96 inline-flex justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500" value="Guardar cambios">
            </div>
          </form>
        </div>
        </article>
      </main>
    </div>
  </div>
</div>
